@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --secondary: 342 89% 48%; /* Vibrant pink for secondary color */
    --secondary-foreground: 0 0% 100%;
  }

  * {
    @apply border-border;
  }

  html, body {
    @apply font-sans antialiased bg-background text-foreground;
    scroll-behavior: auto;
    scroll-padding-top: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .font-heading {
    @apply font-semibold tracking-tight;
  }
  
  .primary-dark {
    @apply bg-primary/80;
  }
}